*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.container{
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}
.common-btn{
    background-color: #00b737;
    padding: 10px 20px;
    border-radius: 20px;
}

/*---------------
-----Navbar-----
---------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: .6s ease;
    background-color: #2B2B52;
}
header.sticky{
    background-color: #2B2B52;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}
header .navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    position: relative;
}
.nav_logo{
    width: 190px;
    height: 65px;
    background-color: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo a{
    text-decoration: none;
}
.nav_logo a span{
    font-size: 30px;
    color: white;
}
.nav_logo a span strong{
    font-size: 30px;
    color:#04fe4d;
}
.nav_logo img{
    width: 100%;
    height: 100%;
}
.navbar ul li{
    display: inline-block;
    margin: 0px 16px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.01rem;
    font-weight: 400;
    position: relative;
}
.navbar ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: #fff;
    height: 2px;
    border-radius: 8px;
    top: 100%;
    transition: .6s;
    left: 0;
}
.navbar ul li a:hover::after{
    width: 100%;
}
header.sticky .navbar ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: #fff;
    height: 2px;
    border-radius: 8px;
    top: 100%;
    transition: .6s;
    left: 0;
}
header.sticky .navbar ul li a:hover{
    color: white;
}
header.sticky .navbar ul li a:hover::after{
    width: 100%;
}
header.sticky ul li a{
    color: white;
    transition: all .6s ease;
}
header.sticky .nav_logo a span{
    color: #fff;
}
header.sticky .nav_logo a span strong{
    color: #20c997;
}

.navbar .fa-bars{
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    display: none;
}



/*---------------
!!!!!!Main!!!!!!
---------------*/
.main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 200px 8% 100px 8%;
    background-color: #2B2B52;
}
.main_content{
    margin: 60px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    z-index: 99;
}
.main_content h1{
    font-size: 33px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.main_content strong{
    font-weight: 500;
    color: #fff;
}
.main_content h1 span{
    color: #04fe4d;
}
.main_content h2{
    font-size: 16px;
    color: #7cb5f3;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 3rem;
    font-weight: 400;
}
.main_content p{
    font-size: 16px;
    letter-spacing: 1;
    line-height: 1.7rem;
    color: #eae4e4;
}
.main_content .main_btn{
    margin-top: 40px;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #fff;
    color: #1e456e;
    transition: .8s all ease-in;
}
.main_content .main_btn:hover{
    background-color: #04fe4d;
    border: 1px solid  #fff;
    color: white;
}
.main_image img{
    width: 280px;
    height: 400px;
}

/*---------------
!!!!Services!!!!
---------------*/
.our_service{
    background-color: #fff;
}
.OurService_content{
    text-align: center;
    padding: 80px 8%;
}
.OurService_header{
    padding: 20px 0;
    background-color: white;   
}
.OurService_header h6{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(170, 168, 168);
}
.OurService_header h2{
    font-size: 33px;
    font-weight: 600;
    line-height: 2.2rem;
    color: rgb(82, 78, 78);
}
.OurService_article{
    background-color: none;
}
.OurService_info{
    display: grid;
    margin: 15px 0;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    justify-content: start;
    align-items: start;
    text-align: start;
}
.OurService_aside{
    height: 100px;
    border-radius: 5px;
    padding: 30px 0px 20px 10px;
    display: flex;
    transition: .4s ease;
}
.service_image img{
    width: 80px;
    height: 80px;
    transform-style: preserve-3d;
    transition: .5s;
}
.service_text{
    padding: 3px 22px 10px 20px;
}
.service_text h3{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
    color: rgb(63, 63, 63);
}
.service_text p{
    line-height: 1.1rem;
    font-size: 15px;
    color: rgb(93, 93, 93);
}
.OurService_aside:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.OurService_aside:hover .service_image img{
    transform: rotateY(180deg);
}

/*---------------
!!!!training!!!!
---------------*/
.traning{
    background-color: #20c997;
}
.training-contact{
    
    padding: 50px 8%;
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.training_aside{
    padding: 100px 0;
    background-color: none;
}
.training_aside h2{
    padding-bottom: 15px;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
    color: #2B2B52;
}
.training_aside p{
    line-height: 1.3rem;
}
.training_btn{
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    width: 140px;
    height: 50px;
    display: flex;
    margin-top: 30px;
    border-radius: 60px;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-left: 1px solid rgba(255, 255, 255, 0.35);   
    padding-left: 40px;
    transition: 0.5s all;
    overflow: hidden;
}
.training_btn:hover{
    padding-left: 0px;
    padding-right: 40px;
    color: black;
}
.training_btn span{
    position: absolute;
    left: 6px;
    background-color: #04fe4d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.training_btn span ion-icon{
    background-color: #04fe4d;
    color: white;
    font-size: 1.2rem;
    transition: .5s ease;
}
.training_btn:hover span{
    left: calc(100% - 55px);
}
.training_btn:hover span ion-icon{
    color: black;
}
.training_btn::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.55);
    z-index: 1;
    transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
}
.training_btn:hover::after{
    transform: translateX(170px) skewX(30deg);
}

.training_image img{
    width: 400px;
    height: 400px;
}
.training-one{
    padding: 20px 0;
}
.training-one-btn{
    background-color: #20c997;
    position: relative;
    width: 140px;
    height: 50px;
    display: flex;
    margin-top: 30px;
    border-radius: 60px;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-left: 1px solid rgba(255, 255, 255, 0.35);   
    padding-left: 40px;
    transition: 0.5s all;
    overflow: hidden;
}
.training-one-btn:hover{
    padding-left: 0px;
    padding-right: 40px;
    color: black;
}
.training-one-btn span{
    position: absolute;
    left: 6px;
    background-color: #04fe4d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.training-one-btn span ion-icon{
    background-color: #04fe4d;
    color: white;
    font-size: 1.2rem;
    transition: .5s ease;
}
.training-one-btn:hover span{
    left: calc(100% - 55px);
}
.training-one-btn:hover span ion-icon{
    color: black;
}
.training-one-btn::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.55);
    z-index: 1;
    transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
}
.training-one-btn:hover::after{
    transform: translateX(170px) skewX(30deg);
}


/*---------------------
!!!!management info!!!!
---------------------*/
.management-info{
    background-color: #fff;
}
.management-contact{
    padding: 100px 8%;
}
.management-header{
    margin: 0px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.management-header h1{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
}
.management-header .dash-Sign{
    position: absolute;
    background-color: none;
    margin-top: 70px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.management-header .dash-Sign span{
    width: 20px;
    height: 4px;
    background-color: rgba(255, 12, 81, 0.75);
    border-radius: 3px;
    margin: 0px 4px;
}
.managemnt-articl{
    padding: 20px 1%;
    background-color: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.managemnt-image{
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
.managemnt-image img{
    max-width: 100%;
    height: 350px;
    display: block;
    border-radius: 5px;
    transition: transform 1.2s;
}
.management-overlay{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    justify-content: start;
    text-align: start;
    padding: 17px;
    box-sizing: border-box;
    background: #20c997;
    color: white;
    transition: .6s ease;
}
.management-overlay h2{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 25px;
}
.management_btn{
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    color: black;
    visibility: hidden;
    opacity: 0;
}

.management_btn:hover{
    background-color: #faeded;
}
.managemnt-image:hover .management-overlay{
    height: 140px;
    bottom: 0px;
    background: #20c997;
}
.managemnt-image:hover .management_btn{
    visibility: visible;
    opacity: 1;
}
.managemnt-image:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.managemnt-image:hover.managemnt-image img{
    transform: scale(1.1);
}



/*------------------
!!!!work history!!!!
------------------*/
.working_history{
    background-color: #04fe4d;
}
.workingHistory_contant{
    padding: 70px 8%;
    background-color: #fff;
}
.workingHistory_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 80px 0;
    background-color: none;
}
.workingHistory_text{
    text-align: center;
}
.workingHistory_header h4{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(170, 168, 168);
}
.workingHistory_header h1{
    font-size: 33px;
    font-weight: 600;
    line-height: 2.2rem;
    color: rgb(82, 78, 78);
}
.workingHistory_header .dash-Sign-one{
    position: absolute;
    background-color: none;
    margin-top: 110px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workingHistory_header .dash-Sign-one span{
    width: 20px;
    height: 4px;
    background-color: rgba(255, 12, 81, 0.75);
    border-radius: 3px;
    margin: 0px 4px;
}
.workingHistory_info{
    background-color: #fff;
}
.workingHistory_list{
    display: flex;
    justify-content: end;
    align-items: center;
}
.workingHistory_list ul{
    list-style: none;
    display: flex;
}
.workingHistory_list ul li{
    margin: 10px 20px;
}
.workingHistory_list ul li a{
    text-decoration: none;
    color: #1e456e;
    font-size: 1rem;
    position: relative;
}
.workingHistory_list ul li a:hover{
    color: #cc1d1d;
}
.workingHistory_list ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: #cc1d1d;
    height: 2px;
    border-radius: 8px;
    top: 100%;
    transition: .6s;
    left: 0;
}
.workingHistory_list ul li a:hover::after{
    width: 100%;
}
.workingHistory_details{
    background-color: none;
    margin: 15px 0;
}
.workingHistroy_info{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.workHistory_area{
    background-color: none;
    margin: 15px 1%;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
.workHistory_area img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1.2s;
}
.workHistory_area:hover.workHistory_area img{
    transform: scale(1.1);
}
.workingHistory_bottom{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.workHistory_area_bottom{
    margin: 10px 1%;
    max-width: 100%;
    height: 260px;
    border-radius: 10px;
    background-color: #04fe4d;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
.workHistory_area_bottom img{
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
    display: block;
    border-radius: 10px;
}
.workHistory_area_bottom:hover.workHistory_area_bottom img{
    transform: scale(1.1);
}
#product{
    width: 500px;
    /*transform: rotate(-28deg);*/
    filter: drop-shadow(-8px 4px 8px rgba(0,0,0,.5));
    transition: .6s;
}
#product:hover{
    filter: drop-shadow(-28px 4px 8px rgba(0,0,0,.5));
}


/*---------------
!!!!!!footer!!!!!!
---------------*/
.footer{
    background-color: #2B2B52;
    margin-top: 30px;
    padding: 50px 8%;
}




/*---------------
!!!!!!media!!!!!!
---------------*/
@media screen and (max-width:1100px) {
    body{
        overflow-y: scroll;
    }
    .main{
        flex-direction: column-reverse;
    }
    #product{
        width: 80%;
    }
    .main_content{
        width: 100%;
        margin-top: 100px;
    }
}
@media screen and (max-width:900px) {
    .navbar .fa-bars{
        display: block;
    }
    .navbar ul{
        position: absolute;
        top: 100%;
        left: 5%;
        background-color: #fff;
        border-radius: 9px;
        width: 90%;
        display: none;
        z-index: 9999;
    }
    .navbar ul li{
        display: block;
        margin: 8px 0;
        padding: 18px 0;
        padding-left: 30px !important;
        border-bottom: 0.2px solid rgba(0,0,0,0.1);
    }
    .navbar ul li a{
        color: rgb(5, 18, 18);
    }
    .navbar .show{
        display: block;
    }
    .main_content h1{
        font-size: 30px;
    }
    .main_content h2{
        font-size: 20px;
    }
    .main_content p{
        font-size: 14px;
    }
    .main_content .main_btn{
        margin-top: 40px;
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        text-decoration: none;
        text-transform: capitalize;
        background-color: #fff;
        border-radius: 25px;
        color: #1e456e;
    }
}